.container {
  display: flex;
  justify-content: center;
}

.question-nav-container {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 600px;
  margin-top: 15px;
}

.numbertabs-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
