.button-main-container {
  width: 350px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  align-self: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,.2);
  margin: 5px;
  margin-top: 15px;
}

.button {
  width: 100%;
  background-color: #EF6362;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}
